@use "../variables";

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  //height: calc(50% - 40px);
  transition: all 0.3s;

  &:not(.no-hover) {
    &:hover,
    &:focus {
      box-shadow: -0.5rem 0.5rem 3rem #{variables.$color-primary-dark}38;

      img {
        scale: 1.05;
      }
    }
  }

  &--rounded {
    border-radius: 10px;
  }

  &--shadow {
    box-shadow: 0.5rem 0.5rem 1rem #{variables.$color-primary-dark}38;
    border: none;
  }

  &--shadow-dark {
    box-shadow: 0.2rem 0.2rem 0.5rem #00000038;
    border: none;

    &:not(.no-hover) {
      &:hover,
      &:focus {
        box-shadow: -0.5rem 0.5rem 3rem #00000038;
      }
    }
  }

  &--row {
    flex-direction: row;
  }

  &__item-info {
    background-color: variables.$color-secondary-dark;
    color: variables.$color-light;

    &--no-background {
      background-color: transparent;
      color: variables.$color-gray-600;
    }
  }

  &__title {
    color: variables.$color-light;

    &--secondary-dark {
      position: relative;
      z-index: 1;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 10px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: variables.$color-secondary-dark;
        z-index: -1;
      }
    }
  }

  &__link {
    color: variables.$color-light;
    text-decoration: none;

    &--cover::before {
      content: "";
      position: absolute;
      inset: 0;
      cursor: pointer;
      z-index: 2;
    }
  }

  button.card__link {
    border: none;
    background-color: transparent;
  }

  &__icon {
    padding: 30px;

    img {
      display: flex;
      margin: 0 auto;
      max-width: 100px;
      object-fit: contain;
      transition: all 0.3s;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    background-color: variables.$color-secondary-dark;
    color: variables.$color-light;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 10px 0;
    margin: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 0 24px;

    &.list-2 {
      .card {
        flex: 1 0 calc((100% / 2) - 3rem);

        &.card--small {
          max-width: calc(75% / 2);
        }
      }
    }

    &.list-3 {
      & .card {
        flex: 1 0 calc((100% / 3) - 3rem);
      }
    }
  }
}
