.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  //height: calc(50% - 40px);
  transition: all 0.3s;

  &:hover,
  &:focus {
    box-shadow: -0.5rem 0.5rem 3rem #{$color-primary-dark}38;

    img {
      scale: 1.05;
    }
  }

  &--rounded {
    border-radius: 10px;
  }

  &--shadow {
    box-shadow: 0.5rem 0.5rem 1rem #{$color-primary-dark}38;
    border: none;
  }

  &__item-info {
    background-color: $color-secondary-dark;
    color: $color-light;

    &--no-background {
      background-color: transparent;
      color: $color-gray-600;
    }
  }

  &__title {
    color: $color-light;

    &--secondary-dark {
      position: relative;
      z-index: 1;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 10px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $color-secondary-dark;
        z-index: -1;
      }
    }
  }

  &__link {
    color: $color-light;
    text-decoration: none;

    &--cover::before {
      content: "";
      position: absolute;
      inset: 0;
      cursor: pointer;
      z-index: 2;
    }
  }

  button.card__link {
    border: none;
    background-color: transparent;
  }

  &__icon {
    padding: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: all 0.3s;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;

    &.list-2 {
      .card {
        flex: 1 0 calc((100% / 2) - 3rem);

        &.card--small {
          max-width: calc(75% / 2);
        }
      }
    }

    &.list-3 {
      & .card {
        flex: 1 0 calc((100% / 3) - 3rem);
      }
    }
  }
}
