@use "../spacers";
@use "../variables";

.form {
  display: flex;
  flex-direction: column;
  gap: spacers.$spacer-3;
  margin: 0 auto;
  width: 100%;
  max-width: 35vw;
  padding: spacers.$spacer-4;
  border-radius: spacers.$spacer-4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &--nostyle {
    padding: 0;
    border: none;
    box-shadow: none;
    max-width: unset;
  }

  &--padding {
    padding: spacers.$spacer-4 spacers.$spacer-8;
  }

  &__fieldset {
    margin: spacers.$spacer-2 0 0 0;
    padding: 0;
    border: none;
  }

  &__legend {
    font-weight: 700;
    text-align: center;
    width: 100%;
    font-size: 22px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 500;
      text-align: left;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: variables.$color-light;
      color: variables.$color-dark;

      &:focus,
      &:-moz-placeholder-shown {
        outline: none;
        border-color: variables.$color-primary;
        background-color: variables.$color-light;
      }
    }

    textarea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: variables.$color-light;
      color: variables.$color-dark;

      &:focus,
      &:-moz-placeholder-shown {
        outline: none;
        border-color: variables.$color-primary;
        background-color: variables.$color-light;
      }
    }
  }

  &__libelle {
    text-align: left;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    gap: spacers.$spacer-5;

    & input,
    & select {
      flex: 1;
      color: variables.$color-text;
    }

    & input[type="text"],
    & input[type="date"],
    & input[type="email"],
    & input[type="time"],
    & input[type="password"],
    & select {
      border-radius: spacers.$spacer-2;
      background: transparent;
      border: 1px solid variables.$color-gray-400;
      padding: spacers.$spacer-2 spacers.$spacer-4;
    }

    & input[type=range] {
      -webkit-appearance: none;
      margin: 18px 0;
      width: 100%;
      background-color: transparent;

      &:focus::-webkit-slider-runnable-track {
        background: variables.$color-primary-light;
      }

      &::-moz-range-track,
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: spacers.$spacer-2;
        cursor: pointer;
        background: variables.$color-primary-light;
        border-radius: 20px;
      }

      &::-moz-range-thumb,
      &::-webkit-slider-thumb {
        border: 1px solid variables.$color-dark;
        height: spacers.$spacer-5;
        width: spacers.$spacer-5;
        border-radius: 100%;
        background: variables.$color-light;
        cursor: pointer;
      }
      &::-moz-range-progress {
        background-color: variables.$color-primary;
        height: spacers.$spacer-2;
        border-radius: 20px;
      }
      /*
      &::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
      }
      &::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
      }
      &::-ms-thumb {
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
      }
      &:focus::-ms-fill-lower {
        background: #3071a9;
      }
      &:focus::-ms-fill-upper {
        background: #367ebd;
      }*/
    }
  }

  &__radio-button {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      gap: spacers.$spacer-3;
      width: 100%;
    }

    &-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex: 1;
      padding: spacers.$spacer-2 spacers.$spacer-4;
      border: 1px solid variables.$color-gray-400;
      border-radius: spacers.$spacer-2;

      & input[type="radio"] {
        position: absolute;
        opacity: 0;

        & + label {
          display: flex;
          justify-content: space-between;
          flex: 1;
          text-align: left;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            cursor: pointer;
            z-index: 1;
          }

          &:after {
            content: "";
            background: variables.$color-gray-200;
            border-radius: 100%;
            border: 1px solid variables.$color-gray-400;
            display: inline-block;
            width: spacers.$spacer-4;
            height: spacers.$spacer-4;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 250ms ease;
          }
        }

        &:checked + label:after {
          background-color: variables.$color-primary;
          box-shadow: inset 0 0 0 4px variables.$color-gray-200;
        }
      }
    }
  }
}
