.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    inset: calc(50% - 50vw);
    background-color: rgba(0, 0, 0, 0.738);
    z-index: 0;
  }

  &-content {
    position: relative;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
    z-index: 1;
  }
}
