@use "../spacers";
@use "../variables";

.header {

    &--docteur{
      position: relative;
      display: flex;
      justify-content: space-between;
      background-color: variables.$color-secondary;
      color: variables.$color-white;
      padding: spacers.$spacer-5 0;
      z-index: 1;
  
      &::before {
        content: "";
        position: absolute;
        inset: 0 calc(50% - 50vw);
        background-color: variables.$color-secondary;
        z-index: -1;
      }
    }
  
    &__logo {
      max-height: 50px;
      display: flex;
      gap: spacers.$spacer-6;
      align-items: center;
  
      img {
        width: 65px;
        height: 50px;
        max-height: 100%;
        object-fit: contain;
      }
  
      h1 {
        font-size: 40px;
        font-weight: 400;
        color: variables.$color-light;
        text-wrap: nowrap;
      }
    }
  
    &__buttons {
      display: flex;
      gap: 2rem;
    }
  }
  