[class*="flex"] {
  display: flex;

  &[class*="col"] {
    flex-direction: column;
  }

  &[class*="spaceBetween"] {
    justify-content: space-between;
  }

  &[class*="spaceEvenly"] {
    justify-content: space-evenly;
  }

  &[class*="start"] {
    justify-content: flex-start;
  }

  &[class*='center'] {
    justify-content: center;
  }

  &[class*="gap"] {
    gap: 3rem;
  }

  &[class*='aligncenter'] {
    align-items: center;
  }

  
}
