@use "sass:list";
@use "spacers";
@use "variables";

/*
 * Génération des classes utilitaires d'espacements
 * Tous les niveaux de 0 à 14 sont généré pour tous les types de marges interne et externe (margin & padding - top/right/bottom/left)
 * Exemples de classes générés:
 * .u-m-0 { margin: 0; }
 * .u-mb-4 { margin-bottom: $spacer-4; // 16px }
 * .u-ml-8 { margin-left: $spacer-8; // 64px }
 * .u-pr-8 { padding-right: $spacer-8; // 64px }
 * .u-pb-14 { padding-bottom: $spacer-14; // 144px }
 */
@each $spacer-shortname, $spacer-longname in spacers.$spacer-shortnames {
  @for $i from 1 through list.length(spacers.$spacers) {
    .u-#{$spacer-shortname}-#{$i - 1} {
      #{$spacer-longname}: list.nth(spacers.$spacers, $i);
    }
  }
}

@for $i from 1 through 20 {
  .u-h-#{$i * 5} {
    height: #{$i * 5}#{'%'};
  }
}

.u-wfc {
  width: fit-content;
}

.u-align-center {
  margin-left: auto;
  margin-right: auto;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-c-p {
  color: variables.$color-primary;
}

.u-c-s {
  color: variables.$color-secondary;
}

.u-w-100 {
  width: 100%;
}

.u-flex {
  display: flex;
}
.u-flex-column {
  flex-direction: column;
}
.u-flex-row {
  flex-direction: row;
}
.u-flex-wrap {
  flex-wrap: wrap;
}
.u-flex-justify-center {
  justify-content: center;
}
.u-flex-justify-between {
  justify-content: space-between;
}
.u-flex-justify-around {
  justify-content: space-around;
}
.u-flex-justify-evenly {
  justify-content: space-evenly;
}
.u-flex-align-center {
  align-items: center;
}
.u-flex-align-start {
  align-items: flex-start;
}
.u-flex-align-end {
  align-items: flex-end;
}

