// Main colors
$color-primary: #f98f45;
$color-primary-lighter: #f8e7dd;
$color-primary-light: #ffc891;
$color-primary-dark: #944915;
$color-primary-darker: #65330f;
$color-secondary: #269ea0;
$color-secondary-lighter: #ebf0f0;
$color-secondary-light: #97cccc;
$color-secondary-dark: #044b44;
$color-secondary-darker: #011917;

// Grayscale
$color-white: #fff;
$color-gray-200: #fdfafa;
$color-gray-300: #f0f0f0;
$color-gray-400: #d0cfce;
$color-gray-500: #a8a8a8;
$color-gray-600: #625e5d;
$color-gray-700: #3d3d3d;
$color-gray-800: #140e0c;
$color-gray-900: #000;

// page background
$color-page-background: #EBF0F0;

// Text colors
$color-text: $color-gray-800;
$color-light: $color-gray-200;
$color-dark: $color-gray-800;

//Background color
$color-background: $color-gray-200;
